<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>

    <!-- main header -->
    <div class="conatiner-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main_header_left -->
                    <div class="col-md-6 col-12 main-header_right align-items-center">
                        <figure>
                            <img src="/images/me.png" alt="sammmy" class="img-fluid">
                        </figure>
                    </div>
                        <!-- main_header_right -->
                        <div class="col-md-6 col-12 main-header_left">
                            <p>Welcome to the weather</p>
                            <h1>I am a  <span class="text_colour"> Mern stack developer</span> and freelancer </h1>
                            <a href="#"> <button>about me</button> </a>
                        </div>

                    </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>

</html>